/* contact.css */

.contact-container {
	max-width: 600px;
	margin: 100px auto 40px;
	padding: 40px;
	text-align: center;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-option {
	margin-top: 20px;
}

.contact-icon {
	margin-right: 10px;
}

.contact-option span {
	font-size: 18px;
}

.contact-title {
	font-family: "Montserrat", sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 40px;
	line-height: 59px;
	top: 100px;
	margin-top: auto;
	color: #000000;
}

.contact-subtitle {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #666;

	margin-top: 20px;
}

/* Add more styles as needed */
